body{
    
    font-family: 'Times New Roman', Times, serif;
}
h2{
    align-items: center;
}
 .form-container{
    background-color: wheat;
    padding: 40px;
    width: 200px;
    display: grid;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 20px;
 }
 .form-container input{
    margin: 8px;
    padding: 7px;
    border-radius: 7px;
 }
 button{
    background-color:  rgb(66, 151, 226);
    width: 180px;
    justify-content: center;
    height: 30px;
    border-radius: 7px;
 }
    